.nav-bar {
  display: flex;
  font-size: 12px;
  text-decoration: underline;
  overflow:hidden;
  background-color: #BCD2E8;
}

.title{
  padding-left: 10px;
}

.header{
  padding-left: 10px;
}

.tab{
  padding-left: 10px;
  padding-right:10px;
  float: left;
	color: black;
}

.scrollTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #2E5984;
	color:white;
	outline: none;
	border-color:#2E5984;
}

.scrollTop:active{
	background-color: #1E3F66;
}
.main-body-home{
  display: flex;
}
.main-body > div {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-image{
	max-width: 100%;
	height: auto;
}
.main-body-text{
  padding-left:10px;
}

.music-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
}

.music-container > div > iframe {
	justify-content: center;
	align-items: center;
}

.photos-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
	padding-top: 10px;
	justify-content: center;
	align-items: normal;
}

.photos-container > div > img{
	max-width: 100%;
	height: auto;
	cursor: pointer;
}
.videos-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
}

.videos-container > div > iframe{
	max-width: 100%;
}

.main-container{
	display: flex;
	overflow: hidden;
}

.guestbook-container{
	flex: 1;
	padding: 1rem;
	width: fit-content;
	
}
.submissions-container{
	flex: 1;
	padding: 1rem;
	overflow: hidden;
}

.submissions{
	border: 1px solid black;
	flex: 1;
	padding: 1rem;
	width: 500px;
}
.submission-message{
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

.submit-button{
	padding-top: 10px;
}

.form-fields{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
	padding-top: 10px;
	justify-content: center;
	align-items: normal;
}

.movie-poster > img:hover {
	opacity: 0.4;
	border: solid black;
}
